<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span>Friends</span>
        {# --- FIX: Link to the new search tab --- #}
        <a href="{% url 'manage-friends' %}?tab=search" class="btn btn-sm btn-primary">Find Friends</a>
    </div>
    <ul class="list-group list-group-flush">
        {% for friend in friends %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ friend.username }}
                <a href="{% url 'remove-friend' friend.id %}" class="btn btn-sm btn-outline-danger">&times;</a>
            </li>
        {% empty %}
            <li class="list-group-item">You haven't added any friends yet.</li>
        {% endfor %}
    </ul>
    <div class="card-footer text-center">
        <a href="{% url 'manage-friends' %}" class="link-secondary">Manage All Friends & Requests</a>
    </div>
</div>