<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Cannot Invite User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>This user is currently banned from this project.</p>
        <p>You must unban them before they can be invited.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Okay</button>
    </div>
</div>